%button {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 16px 32px;
  border-radius: 31px;

  background-color: var(--darkTheme-accent);
  color: var(--darkTheme-mainBg);

  transition: background-color var(--duration) var(--timingFunction),
    color var(--duration) var(--timingFunction),
    outline var(--duration) var(--timingFunction);

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--darkTheme-accent);
    outline: 2px solid var(--darkTheme-accent);
  }
}
