:root {
  // Fonts
  --fontMain: 'Montserrat', sans-serif;

  // Colors
  --theme-accent: #ffc700;
  --theme-mainText: #ffffff;
  --theme-heroText: #ffffff;
  --theme-mainBg: #060803;
  --theme-sectionBg: #222527;
  --theme-overlay: rgba(255, 255, 255, 0.4);

  //Animation Properties
  --duration: 300ms;
  --timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
}

// Breakpoints
$laptop: 1200px;
$tablet: 600px;
$mobile: 480px;
$container-padding: 15px;
