<section class="achievments section">
  <div class="container">
    <h2 class="achievments__title accentColor">
      Професійні та особисті досягнення
    </h2>
    <ul class="achievments__list">
      <li class="achievments__list--item">
        <svg class="achievments__list--icon icon" width="60" height="60">
          <use href="./images/sprite.svg#icon-swords"></use>
        </svg>
        <h3 class="achievments__list--title accentColor">
          Довгострокове планування:
        </h3>
        <p class="achievments__list-text">
          виконав пророцтво - врівноважив Силу зрівнявши кількість Джедаєв і
          Сітхов
        </p>
      </li>
      <li class="achievments__list--item">
        <svg class="achievments__list--icon icon" width="60" height="60">
          <use href="./images/sprite.svg#icon-star"></use>
        </svg>
        <h3 class="achievments__list--title accentColor">
          Антикризовий менеджмент:
        </h3>
        <p class="achievments__list-text">завершив довгобуд "Зірку смерті"</p>
      </li>
      <li class="achievments__list--item">
        <svg class="achievments__list--icon icon" width="60" height="60">
          <use href="./images/sprite.svg#icon-soldier"></use>
        </svg>
        <h3 class="achievments__list--title accentColor">
          Управління персоналом:
        </h3>
        <p class="achievments__list-text">
          Понад мільйон солдатів і офіцерів на борту "Зірки смерті"
        </p>
      </li>
      <li class="achievments__list--item">
        <svg class="achievments__list--icon icon" width="60" height="60">
          <use href="./images/sprite.svg#icon-hand"></use>
        </svg>
        <h3 class="achievments__list--title accentColor">
          Розробка систем мотивації:
        </h3>
        <p class="achievments__list-text">
          метод удушення співробітників, що провинилися, на відстані, за
          допомогою Сили
        </p>
      </li>
    </ul>
  </div>
</section>
