<section class="codex">
  <div class="container codex--wrap">
    <h2 class="visually-hidden">Кодекс ситхів</h2>
    <div class="codex--pos">
      <p class="codex__motto accentColor" lang="en">
        “You don't know the power of the dark side!”
      </p>
    </div>
    <div class="codex--pos">
      <h3 class="codex__title accentColor">Кодекс ситхів:</h3>
      <ul class="codex__list">
        <li class="codex__list--item">Спокій — брехня, є лише пристрасть.</li>
        <li class="codex__list--item">З пристрастю я набуваю Силу.</li>
        <li class="codex__list--item">З Силою я здобуваю Владу.</li>
        <li class="codex__list--item">З Владою я здобую Перемогу.</li>
        <li class="codex__list--item">З Перемогою я розірву свої ланцюги,</li>
        <li class="codex__list--item">І Велика Сила звільнить мене.</li>
      </ul>
      <p class="codex__descr">
        <span class="accentColor">&#42;</span> Приносячи клятву вірності ти
        зобов'язуєшся наслідувати кодекс ситхів, рости над собою збільшуючи міць
        Імперії.
      </p>
    </div>
  </div>
</section>
