<header class="header">
  <div class="container header--inner">
    <div class="logo logo--wrap">
      <img
        src="./images/logo.svg"
        alt="Логотип компанії Start Wars"
        width="72"
        height="32"
        class="logo__icon"
      />
    </div>

    <div class="switcher">
      <button class="switcher--theme-name">Dark</button>
      <label class="switch">
        <input type="checkbox" id="theme-switch" class="switch__input" />
        <span class="switch__slider switch__slider--round"></span>
      </label>
      <button class="switcher--theme-name">Light</button>
    </div>
  </div>
</header>
