<section class="hero hero-section">
  <div class="container">
    <div class="hero--wrap">
      <div class="hero--inner-column">
        <p class="hero__subtitle">Владика Сітх</p>
        <h1 class="hero__title">
          Дарт Вейдер<br />
          Енакін Скайуокер
        </h1>
        <ul class="hero-list">
          <li class="hero-list__item">Інженер-конструктор</li>
          <li class="hero-list__item">Командор армії</li>
          <li class="hero-list__item">Верховний генерал</li>
        </ul>
        <button class="hero__button button" type="button">
          Принести клятву вірності
        </button>
        <div class="hero__text--wrap">
          <p class="hero__text">
            Принесення клятви вірності Лорду Сітху<br />
            позбавить тебе від тягарів моралі та етики
          </p>
          <p class="hero__text">Спокій – це брехня. Є лише пристрасть.</p>
        </div>
      </div>

      <ul class="social-list">
        <li class="social-list__item">
          <a
            href="https://youtube.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Посилання на Youtube"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="https://www.instagram.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Посилання на Instagram"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="https://twitter.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Посилання на Twitter"
            class="social-list__link"
          >
            <svg class="social-list__icon icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <img
      src="./images/darth-vader.png"
      alt="Дарт Вейдер"
      width="668px"
      class="hero__img--darth"
    />
    <img
      src="./images/star-death.png"
      alt="Зірка смерті"
      width="480px"
      class="hero__img--star"
    />
  </div>
</section>
