.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 80px 20px;
  background-color: var(--theme-overlay);
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  margin: 0 auto;
  transition: opacity var(--duration) var(--timingFunction);
}

.modal-overlay__hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  & > .modal {
    transform: scale(0);
    @media screen and (min-width: calc($tablet)) {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.modal {
  max-width: 500px;
  width: 100%;
  min-height: 390px;
  margin: 0 auto;
  padding: 20px 44px;
  border-radius: 4px;
  background-color: var(--theme-sectionBg);
  transform: scale(1);
  transition: transform var(--duration) var(--timingFunction);

  @media screen and (min-width: calc($tablet)) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 600px;
    padding: 40px 84px;
  }
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--theme-mainText);
  border: none;
  padding: 0;
  background-color: transparent;

  transform: scale(1);
  transition: transform var(--duration) var(--timingFunction),
    color var(--duration) var(--timingFunction);
}

.modal__close:hover .modal__close-icon,
.modal__close:focus .modal__close-icon {
  transform: scale(1.1);
  color: var(--theme-accent);
}

.modal__title {
  margin: 0 auto 32px;
  max-width: 360px;
  text-align: center;

  & > .accentColor {
    font-weight: 700;
  }
}

.form-submit {
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 16px;
  }

  &__label {
    margin-bottom: 4px;
    padding-left: 4px;
    text-align: start;
  }

  &__input {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid var(--theme-mainText);
    border-radius: 4px;
    outline: none;
    color: var(--theme-accent);
  }
}

.form-field:focus-within {
  color: var(--theme-accent);
}

.form-field:focus-within .form-field__input {
  border-color: var(--theme-accent);
}

.button__submit {
  @extend %button;
  margin-top: 32px;
}

//
// MODAL SUCCESS STYLES
//

.modal-success {
  text-align: center;

  &__icon {
    margin-top: 32px;
    color: var(--theme-accent);
  }

  &__title {
    margin-bottom: 112px;
  }
}
