.switcher {
  display: flex;
  align-items: center;

  &--theme-name {
    background: none;
    outline: none;
    border: none;
    color: var(--darkTheme-mainText);
    font-size: 16px;
    line-height: 24px;
    font-family: var(--fontMain);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: var(--duration);
  border: 1px solid var(--darkTheme-accent);
  background-color: transparent;
  z-index: 2;

  &:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: var(--darkTheme-accent);
    transition: var(--duration);
  }
}

.switch__input:checked + .switch__slider:before {
  transform: translateX(16px);
}

.switch__slider--round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
