.header--inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--darkTheme-mainBg);
}
