.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.header--inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: transparent;
}
